#header{
    position: fixed;
    background: #c4ff97;
    height: 40px;
    width: 1500px;
    z-index: 3;
    margin-top: -8px;
    margin-left: -8px;
}

.top{
    position: fixed;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 5px;
}

.top-bl{
    height: 40px;
}

.cart{
    float: right;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    top: 10px;
    right: 20px;
}

.info-line{
    font-weight: 600;
    height: 100px;
    text-align: center;
    margin-top: -68px;
}

.info-text {
    padding-top: 50px;
    word-spacing: 95px;
}

.logo-img{
    position: absolute;
    display: block;
    overflow: hidden;
    width: 200px;
    height: 100px;
}

.col-sm-3{
    width: 250px;
    padding-top: 8px;
}

.product-list.col-sm-9{
    width: 700px;
    position: absolute;
    top: 150px;
    left: 420px;
    border-left: solid  #5b2fff 2px;
}

.product-list h2{
    padding-left: 15px;
}

.items.row{
    margin-top: -40px;
    padding-left: 15px;
    width: 1000px;
    height: auto;
}

.col-sm-4{
    padding-top: 42px;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 240px;
    float: left;
}

.col-sm-4 a{
   text-align: left;
}

.category-price{
    text-align: left;
}

.img-responsive{
    border-radius: 30px;
    display: block;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.product-detail{
    padding-top: 141px;
    padding-left: 429px;
}

.superh1{
    position: absolute;
    margin-top: -270px;
}

.price-cart{
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: -200px;
    margin-left: 250px;
}

.product-description{
    padding-top: 100px;
    margin-left: -250px;
    width: 700px;
}

#id_quantity{
    margin-left: 5px;
}

.information-block{
    padding-top: 50px;
    padding-left: 420px;
}

.container{
    padding-top: 100px;
}