{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
<title>{% block title %}{% endblock %}</title>
</head>
  <body>
        <section id="header">
            <div class="top">
              <td><a href="{% url "MainPage" %}">Мой онлайн-магазин</a></td>
            </div>
            <div class="e-cart">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        Ваша корзина:
                        <a href="{% url "cart:CartDetail" %}">
                            {{ total_items }} тов. {{ cart.get_total_price }} руб.
                        </a>
                    {% else %}
                        <div class="top-bl">
                            Ваша корзина пуста
                            </div>
                        </div>
                    {% endif %}
                 {% endwith %}
            </div>
        </section>
        <section id="content row" class="container">
        <div class="info-line">
            <img src="{% static "logo.jpg"%}" class="logo-img">
            <div class="info-text">
                <a href="{% url "ShowAbout" %}">О_компании</a>
                <a href="{% url "ShowDelivery" %}">Доставка</a>
                <a href="{% url "ShowPayment" %}">Оплата</a>
                <a href="{% url "ShowContacts" %}">Контакты</a>
            </div>
        </div>

            {% block content %}{% endblock %}
        </section>
  </body>
</html>