{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
<title>{% block title %}{% endblock %}</title>
</head>
  <body>
        <section id="header">
            <div class="top">
              <td><a href="{% url "MainPage" %}">Мой онлайн-магазин</a></td>
            </div>
            <div class="e-cart">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        Ваша корзина:
                        <a href="{% url "cart:CartDetail" %}">
                            {{ total_items }} тов. {{ cart.get_total_price }} руб.
                        </a>
                    {% else %}
                        <div class="top-bl">
                            Ваша корзина пуста
                            </div>
                        </div>
                    {% endif %}
                 {% endwith %}
            </div>
        </section>
        <section id="content row" class="container">
        <div class="info-line">
            <img src="{% static "logo.jpg"%}" class="logo-img">
            <div class="info-text">
                <a href="{% url "ShowAbout" %}">О_компании</a>
                <a href="{% url "ShowDelivery" %}">Доставка</a>
                <a href="{% url "ShowPayment" %}">Оплата</a>
                <a href="{% url "ShowContacts" %}">Контакты</a>
                <a href="{% url "show_search:haystack_search" %}">Поиск</a>
            </div>
        </div>

        <div class="breadcrumbs">
        <! крошки для главной >
            {% if main %}
            {% else %} <a href="{% url "MainPage" %}">Главная</a>
            {% endif %}

        <! крошки для инфо-разделов >
            {% if app_url %}
                {% for inf in info %}
                    <a href="{{ inf.app_url }}">/{{ inf.title }}</a>
                {% endfor %}
                {% elif main %}
                {% elif form %}
                <a href="{% url "show_search:haystack_search" %}">/Поиск</a>
                <! крошки для каталога >
                {% else %}<a href="{% url "catalog:MainCatalog" %}">/Каталог/</a>
            {% endif %}

        <! крошки для категорий >
            {% for cat in categories %}
                {% if category.slug == cat.slug %}
                     <a href="{{ cat.get_absolute_url }}">{{ cat.name }}/</a>
                {% endif %}
            {% endfor %}

        <! крошки для товара >
            {% for prod in products %}
                {% if prod.slug == product.slug %}
                    <a href="{{ prod.get_absolute_url }}">{{ prod.name }}</a>
                {% endif %}
            {% endfor %}
        </div>

            {% block content %}{% endblock %}
        </section>
  </body>
</html>